.page_container {
	// padding: 20px;

	.container {
		max-width: 800px;
		margin: 0 auto;

		.profile-section {
			display: flex;
			align-items: center;
			margin-bottom: 20px;

			.profile-info {
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				.profile-image {
					width: 80px;
					height: 80px;
					margin-right: 20px;
					margin-bottom: 30px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 50%;
					}
				}

				.info-row {
					margin-bottom: 10px;

					.info-label {
						font-weight: bold;
						margin-right: 10px;
					}
				}
			}

			.logout-btn {
				.btn-primary {
					background-color: #51aa1b;
					color: #fff;
					border: none;
					padding: 10px 20px;
					font-weight: bold;
					cursor: pointer;
				}
			}
		}

		.address_list,
		.order-history {
			margin-bottom: 20px;

			.title_sec {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 10px;

				.section-title {
					font-size: 18px;
					font-weight: bold;
					margin-bottom: 10px;
				}

				.add-btn {
					background-color: #51aa1b;
					color: #fff;
					border: none;
					padding: 5px 10px;
					font-weight: bold;
					cursor: pointer;
				}
			}

			.address-list,
			.order-list {
				.address-item {
					display: flex;
					flex-direction: column;
					padding-bottom: 10px;
					padding-top: 10px;
					border-bottom: 1px solid #ccc;

					.address-label {
						font-weight: bold;
						margin-right: 10px;
					}
				}

				// .address-item:last-child {
				// 	border-bottom: none;
				// }

				.order-item {
					display: flex;
					align-items: center;
					margin-bottom: 5px;

					.address-label,
					.order-number {
						font-weight: bold;
						margin-right: 10px;
					}
				}
			}
		}
	}
}
