@import "../../variables.scss";

.page_container {
	// padding: 20px;

	.pls_container {
		.product-list-small-top {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;

			h1 {
				font-size: 24px;
				font-weight: bold;
			}

			.product-list-small-top__category {
				display: flex;

				@media screen and (max-width: 850px) {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
				}

				.product-list-small-top__category-btn {
					padding: 8px 16px;
					font-size: 14px;
					font-weight: bold;
					cursor: pointer;
					transition: background-color 0.3s ease;

					&:hover {
						background-color: #51aa1b;
						color: #fff;
					}
				}

				.product-list-small-top__category-btn--active {
					background-color: #51aa1b;
					color: #fff;
				}
			}
		}

		.product-list-small {
			width: 1250px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 30px;
			overflow: hidden;

			@media screen and (max-width: 1000px) {
				width: 100%;
				grid-template-columns: repeat(3, 1fr);
			}

			@media screen and (max-width: 850px) {
				width: 100%;
				grid-template-columns: repeat(2, 1fr);
			}

			@media screen and (max-width: 768px) {
				width: 100%;
				grid-template-columns: repeat(1, 1fr);
			}

			.product_card {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				max-width: 300px;
				margin-bottom: 20px;
				border: 1px solid #ccc;
				border-radius: 5px;
				padding: 10px;
				box-sizing: border-box;

				.product {
					position: relative;
					width: 100%;
					display: flex;
					justify-content: center;

					img {
						width: 200px;
						max-height: 200px;
						object-fit: cover;
						border-radius: 5px;
					}
				}

				.product_info {
					margin-top: 10px;
					text-align: center;

					.link {
						text-decoration: none;
						color: #333;
						font-weight: bold;
						font-size: 18px;
						display: block;
						margin-bottom: 5px;
					}

					p {
						margin: 5px 0;
						font-size: 16px;
					}
				}

				.product-actions {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-top: 10px;

					i {
						font-size: 20px;
						margin-right: 5px;
						cursor: pointer;
					}

					span {
						display: flex;
						align-items: center;
						cursor: pointer;
						background-color: #51aa1b;
						padding: 10px;
						border-radius: 10px;
						color: #fff;
						box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

						i {
							margin-right: 3px;
							font-size: 16px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 850px) {
		// max-width means if the screen is smaller than 850px
		.product-list-small-top {
			flex-direction: grid;
			grid-template-columns: 1fr 1fr;

			// h1 {
			// 	font-size: 20px;
			// }

			// .product-list-small-top__category {
			// 	flex-wrap: wrap;
			// 	justify-content: center;

			// 	.product-list-small-top__category-btn {
			// 		margin: 5px;
			// 	}
			// }
		}

		// .product-list-small {
		// 	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		// }
	}
}
