$primary-color: #ffffff;
$secondary-color: #000000;

$component-green: #51aa1b;
$logo-black: #555555;
$text-color-selected: #333333;
$text-color-idle: #929292;
$border-color: #e0e0e0;

$content-width-max: 1170px;
$content-width-min: 320px;

$font-family: "Work Sans", sans-serif;

$font-size-xs: 0.9rem;
$font-size-s: 1rem;
$font-size-m: 1.6rem;
$font-size-l: 3.2rem;

$mobile: 768px;
$mobile-max: 767px;
$mobile-min: 320px;

$tablet: 1024px;
$tablet-max: 1023px;
$tablet-min: 769px;
